body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(0, 217, 255);
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    background-color: #7700ff;
}

#title {
    height: 150px;
    width: 400px;
}

#board {
    width: 360px;
    height: 360px;
    border: 10px solid rgb(252, 235, 0);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid #000000;
}