<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Puzzle</title>
    <link rel="stylesheet" href="/static/puzzle.css">
</head>
<body>
    <style>
        #title {
            width: 300px; 
            height: 100px;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    </style>
    <img id="title" src="logo-black.png" alt="Picture of Image Puzzle">
    <div id="board">
    </div>
    <h1>Turns: <span id="turns">0</span></h1>
    <script src="/static/puzzle.js"></script>
</body>
</html>
